{% extends "base.html" %}

{% block content %}
  <h1>
      Username: {{ worker.username }}
    {% if user.is_superuser %}
      <a href="{% url 'task_manager:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>
    {% endif %}
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>
  <p><strong>Is staff:</strong> {{ worker.is_staff }}</p>

  <div class="ml-3">
    <h4>Tasks</h4>

    {% for task in worker.tasks.all %}
      <hr>
      <div {% if task.is_completed %}
        class="completed-task"
        {% else %}
        class="unfinished-task"
      {% endif %}>

        <p><strong>Name:</strong> <a href="{% url "task_manager:task-detail" pk=task.id %}">{{ task.name }}</a></p>
        <p><strong>Task type:</strong> {{ task.task_type.name }}</p>
        <p><strong>Deadline:</strong> {{ task.deadline }}</p>
      </div>
    {% empty %}
      <p>No tasks.</p>
    {% endfor %}
  </div>
{% endblock %}
